// Colores Principales
$blanco: #e8e5de;
$negro: #000000;
$moradoPrincipal: #6c1e95;
$mentaPrincipal: #00aa8e;
// Colores Secundarios
$moradoSecundario: #4e1e78;
$mentaSecundario: #42d6bf;
$naranjaSecundario: #ff4515;
$rosaSecundario: #ff91a1;
$amarilloSecundario: #ff9d00;

